[project]
name = "cloud-native-monitoring-app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "gunicorn>=23.0.0",
    "kubernetes>=34.1.0",
    "prometheus-client>=0.23.1",
    "psutil>=7.2.1",
]
